<app-user-search></app-user-search>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">
            {{ element.id }}
        </td>
    </ng-container>
    <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'USERS_TABLE.FULLNAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.name + ' ' + element.surname }}
        </td>
    </ng-container>
    <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'USERS_TABLE.DOB' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.dob }}
        </td>
    </ng-container>
</table>
<div class="loader-container" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
