<div>
    <mat-form-field>
        <input
            matInput
            placeholder="{{ 'USER_SEARCH.INPUT' | translate }}"
            [matAutocomplete]="auto"
            [formControl]="searchUserCtrl"
        />
        <button
            *ngIf="searchUserCtrl.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearSelection()"
        >
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onSelected()"
        >
            <mat-option *ngIf="isLoading" class="is-loading">{{
                'USER_SEARCH.LOADING' | translate
            }}</mat-option>
            <mat-option *ngIf="!noEmployeeAlert" class="is-loading">{{
                'USER_SEARCH.NO_USER' | translate
            }}</mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option
                    *ngFor="let user of filteredUsers"
                    [value]="user.name + ' ' + user.surname"
                >
                    <span>{{ user.name + ' ' + user.surname }}</span>
                </mat-option>
            </ng-container>
        </mat-autocomplete>
        <br />
        <ng-container *ngIf="errorMsg">
            {{ errorMsg }}
        </ng-container>
    </mat-form-field>
</div>
